# .gitignore

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Example project included with create-expo-app
app-example

# Python / Backend / Training Specific #
#######################################

# Python virtual environments (Root, Backend, Training)
.venv/ 
backend/.venv/
training/.venv/

# Python Cache
__pycache__/
*.py[cod] # .pyc, .pyo, .pyd

# Trained Models & Checkpoints (in training dir)
training/hadith-semantic-model-*/
training/hadith-semantic-model-*_checkpoints/

# Old/Other Model folders (potentially at root)
hadith-semantic-model*/

# Generated Index Files in Backend
backend/hadith_index.faiss
backend/index_mapping.json

# Ignore any eval results saved directly in model folders
training/**/eval/

# Large Data Files (Consider Git LFS or other storage if needed)
training/hadiths.json

# Other files to ignore
model_training.txt 

ios/
android/ 


utils/converion_script.py
assets/database/hadith_data.db